[project]
name = "subtitle-generator-mlx"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "lmstudio>=1.5.0",
    "mlx-whisper>=0.4.3",
    "tqdm>=4.67.1",
]
